@charset "utf-8";

/* CSS Document */
body, td, th, p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}

select:focus {
  box-shadow: 0 0 3pt 3pt blue;
}

a:focus {
  box-shadow: 0 0 3pt 2pt blue;
}

div.errMsgImg {
  padding: 50px;
  text-align: center;
}

div.errMsgImg>img {
  max-width: 100%;
  min-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

div.errMsgClass>p {
  font-size: 15pt;
}

h1.blinking {
  text-align: center;
  text-transform: full-width;
  font-family: cursive sans-serif;
}

/*https://html-online.com/articles/blinking-text-css-animation/*/
.blinking {
  animation: blinkingText 2s infinite;
}

@keyframes blinkingText {
  0% {
    color: #000;
  }

  49% {
    color: blue;
  }

  50% {
    color: red;
  }

  99% {
    color: green;
  }

  100% {
    color: #000;
  }
}

div.restaurants-list-class {
  padding: 15px;
  text-align: center;
}

div.errMsgClass {
  text-align: center;
}

div.errMsgClass a {
  color: #3344dd
}

/* visited link */
div.errMsgClass a:visited {
  color: #884488;
}

/* mouse over link */
div.errMsgClass a:hover {
  color: #bb1122;
}

#index-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "content"
    "footer";
  justify-content: space-evenly;
}

.header-class {
  grid-area: header;
}

#maincontent {
  grid-area: content;
}

#footer {
  grid-area: footer;
}

ul, li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover, a:focus {
  color: #3397db;
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  height: auto;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  width: auto;
  /*width: calc(50% - 80px);*/
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align: center;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  /*  width: calc(50% - 80px);*/
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover, a:focus {
  color: #01447e;
  text-decoration: underline;
}

/* ========================restaurant.html ================================ */
/* ====================== Map ====================== */
#map {
  height: 300px;
  width: 100%;
  background-color: #ccc;
}

#map-container {
  grid-area: content;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: #333;
  grid-template-columns: .30fr .75fr .75fr;
  align-items: start;
  grid-template-areas: "text select1 select2";
  grid-row-gap: 1ch;
}

.filter-options h2 {
  color: black;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  line-height: 1.5;
  margin: auto;
  grid-area: text;
  text-align: center;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 11pt;
  height: 50px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-flow: row;
  grid-area: auto;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}

#restaurants-list li {
  margin: auto;
  display: inline-grid;
  grid-template-rows: auto;
  justify-content: space-around;
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial, sans-serif;
  min-height: 380px;
  max-width: 100%;
  padding: 0 30px 25px;
  text-align: left;
  width: 80%;
  border-radius: 20px;
}

#restaurants-list li:hover {
  border: 2px solid blue;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
  border-radius: 10px;
}

#restaurants-list li h1 {
  color: black;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
  margin: auto;
  text-align: center;
}

#restaurants-list p {
  margin: auto;
  font-size: 11pt;
  text-align: center;
}

#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: black;
  display: inline-block;
  font-size: 15pt;
  margin: 15px;
  margin-left: 20px;
  padding: 8px 30px 10px;
  text-align: center;
  align-self: center;
  text-decoration: none;
  align-self: center;
  margin: auto;
  border-radius: 10px;
}

#neighborhoods-select {
  grid-area: select1;
  align-self: start;
  width: 70%;
}

#cuisines-select {
  grid-area: select2;
  justify-content: start;
  width: 70%;
}

/* ====================== Restaurant Details ====================== */
.wrapper {
  display: inline-grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-areas:
    "restaurantHeader"
    "mainRestaurantContent"
    "restaurantFooter";
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

#maincontent.restaurantMainContent {
  display: inline-grid;
  width: 100%;
  grid-auto-rows: minmax(250px, auto);
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "restaurantContainer restaurantMap"
    "reviewsContainer restaurantMap";
  justify-content: space-evenly;
}

.restaurant-header {
  grid-area: restaurantHeader;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  margin: auto;
  ;
}

#footer.restaurant-footer {
  grid-area: restaurantFooter;
  bottom: 0;
  position: absolute;
  width: 50%;
  text-align: center;
  margin: auto;
}

.restaurant-header {
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

#map-container.map-container-class {
  grid-area: restaurantMap;
  background: blue none repeat scroll 0 0;
  height: 100%;
  position: fixed;
  right: 0;
  top: 125px;
  width: 50%;
  z-index: 999;
  overflow: hidden;
}

#restaurant-container {
  display: inline-grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "restaurantName"
    "restaurantImage"
    "cuisine"
    "address"
    "hours";
  justify-content: center;
  height: auto;
}

#restaurant-name {
  color: black;
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: bold;
  letter-spacing: 0;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-name-div {
  grid-area: restaurantName;
  margin: auto;
  text-align: center;
}

#restaurant-img {
  display: block;
  margin: auto;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  height: auto;
}

#restaurant-img-div {
  grid-area: restaurantImage;
  width: 100%;
  height: auto;
  overflow: hidden;
  border: 10px solid geen;
  border-radius: 5px;
  margin: auto;
}

#restaurant-address {
  grid-area: address;
  font-size: 12pt;
  text-align: center;
  align-self: center;
  margin: auto;
}

#restaurant-cuisine {
  grid-area: cuisine;
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  width: auto;
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  width: auto;
}

#restaurant-container {
  grid-area: restaurantContainer;
  position: relative;
}

#reviews-container-div {
  grid-area: reviewsContainer;
  margin: auto;
  position: relative;
  width: auto;
}

#reviews-container {
  overflow-y: scroll;
  padding-left: 0;
  padding-top: 5px;
}

#reviews-container h2 {
  color: black;
  font-size: 24pt;
  font-weight: bold;
  letter-spacing: -1px;
  padding-bottom: 1pt;
  text-align: center;
}

#reviews-list {
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  /*  margin: 0 10px 30px;*/
  align-self: center;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  margin: auto;
  border-radius: 25px;
}

#reviews-list li p {
  margin: 0 0 10px;
  height: 100%;
  font-size: 15pt;
}

#restaurant-hours-div {
  grid-area: hours;
  position: relative;
  border-radius: 5px;
}

#restaurant-hours {
  table-layout: auto;
  width: 100%;

}

#restaurant-hours td {
  text-align: center;
  overflow: auto;
  font-size: 12pt;
  background-color:  #fff;
}

#maincontent.restaurantMainContent {
  grid-area: mainRestaurantContent;
  width: 100%;
  height: auto;
  position: relative;
  overflow: scroll;
  margin: auto;
}

p.nameStyle {
  text-transform: capitalize;
  font-weight: bold;
  padding-top: 10px;
  background-color: #333;
  color: white;
  padding: 5px;
  border-radius: 15px 0 0 0;
}

p.ratingStyle {
  display: inline;
  background-color: orange;
  padding: 5px;
}

p.dateStyle {
  float: right;
  display: inline;
  background-color: orange;
}

/*========================Add @media  ============================= */
/* media queries: https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488 */
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) and (orientation:landscape) {
  #index-body {
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "content"
      "footer";
  }

  #restaurants-list {
    grid-template-columns: repeat(3, 1fr);
    ;
    justify-content: space-evenly;
  }

  #restaurants-list li:nth-last-child(-n+1) {
    grid-column-start: 2;
  }

  /*============================= filtering for restaurant.html ==================================*/
  #footer.restaurant-footer {
    width: auto;
  }
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  #index-body {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "content"
      "footer";
  }

  #restaurants-list {
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
  }

  #restaurants-list li {
    width: auto;
  }

  #restaurants-list li:nth-last-child(-n+1) {
    grid-column-start: 2;
  }

  .filter-options {
    justify-content: start;
  }

  .filter-options select {
    width: 300px;
  }

  /*============================= filtering for restaurant.html ==================================*/
  #footer.restaurant-footer {
    width: 50%;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  #index-body {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "content"
      "footer";
    justify-content: space-evenly;
  }

  #restaurants-list {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
  }

  .filter-options {
    grid-template-columns: .50fr 1fr 1fr;
    grid-template-areas: "text select1 select2";
  }

  #neighborhoods-select {
    width: 80%;
  }

  #cuisines-select {
    width: 80%;
  }

  div.errMsgClass>p {
    font-size: 13pt;
  }

  /*============================= filtering for restaurant.html ==================================*/
  #footer.restaurant-footer {
    width: 50%;
    text-align: left;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #index-body {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "content"
      "footer";
  }

  #restaurants-list {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
  }

  #neighborhoods-select {
    width: 70%;
  }

  #cuisines-select {
    width: 70%;
  }

  /*============================= filtering for restaurant.html ==================================*/
  #footer.restaurant-footer {
    width: 50%;
    text-align: center;
  }

  div.errMsgClass>p {
    font-size: 13pt;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
  #index-body {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "content"
      "footer";
  }

  #restaurants-list {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }

  #restaurants-list li {
    padding: 0 10px 25px;
  }

  .filter-options {
    grid-template-columns: repeat(3, 0.5fr);
    grid-template-areas: "text select1 select2";
  }

  .filter-options h2 {
    font-size: 1rem;
    margin: auto;
  }

  #neighborhoods-select {
    width: 75%;
  }

  #cuisines-select {
    width: 75%;
  }

  #footer.restaurant-footer {
    width: 43%;
    text-align: center;
  }

  div.errMsgClass>p {
    font-size: 13pt;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Portrait)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  #index-body {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "content"
      "footer";
  }

  #restaurants-list {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }

  #footer.restaurant-footer {
    width: auto;
  }

  div.errMsgClass>p {
    font-size: 13pt;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (landscape)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) and (orientation:landscape) {
  #index-body {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "content"
      "footer";
  }

  #restaurants-list {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .filter-options {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "text select1 select2";
  }

  .filter-options select {
    padding-left: 5%;
    width: 150px;
  }

  #footer.restaurant-footer {
    width: 43%;
    text-align: center;
  }

  div.errMsgClass>p {
    font-size: 13pt;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  #displayTag {
    font-size: 1em !important;
  }

  #index-body {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "content"
      "footer";
  }

  #restaurants-list {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
  }

  .filter-options {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "text"
      "select1"
      "select2";
  }

  #neighborhoods-select {
    align-self: center;
    width: 70%;
    margin: auto;
    border: 1px solid black;
    height: 40px;
    padding-bottom: 5px;
  }

  #cuisines-select {
    align-self: center;
    width: 70%;
    height: 50px;
    margin: auto;
    border: 1px solid black;
    height: 40px;
  }

  .filter-options h2 {
    font-size: 1rem;
    margin: auto;
  }

  #map-container.map-container-class {
    height: 69%;
    position: fixed;
    left: 0;
    top: 10px;
    width: auto;
  }

  #restaurantContainer {
    position: relative;
    top: 150px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  #maincontent.restaurantMainContent {
    grid-template-columns: 1fr;
    grid-template-areas:
      "restaurantMap"
      "restaurantContainer"
      "reviewsContainer";
  }

  #footer.restaurant-footer {
    width: auto;
  }

  div.errMsgClass>p {
    font-size: 13pt;
  }

  #reviews-list li p {
    font-size: 12pt;
  }
}
